a {
  text-decoration: none;
}
form {
  margin: 0 auto;
  position: relative;
  right: 50px;
}
ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}
.btn {
  margin: 0 auto;
  border-radius: 10px;
}
.button:hover {
  transition: fill 0.3s;
}
.container {
  font-family: "Source Sans Pro", sans-serif;
}
.fa-location-crosshairs {
  width: 200;
}
.temperature {
  font-size: 11px;
}
.weather-app {
  margin: 30px auto;
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
  background: linear-gradient(to top left, #cee5ffff, #fcfcffff);
  padding: ;
  width: 800px;
}
.weekdays {
  font-size: 11px;
  font-weight: bold;
  text-align: left;
}
